<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Games_page</title>
</head>

<body>
    <header>
        <img src="https://commons.wikimedia.org/wiki/File:WikiProject_NBA.svg" alt="g-logo">
        <h1 id="logo-header">Show Teams</h1>
        <h2 id="logo-h2">THE BEST YEAR</h2>
    </header>
    <h3 id="" new-h3>Select Your Game</h3>
    <div id="" game-div></div>

    <form id="game-form">
        <h3>Show game</h3>
        <label for="game-id">Game ID</label>
        <input type="text" id="game-id">
        <button type="submit" id="add-button">Add</button>
    </form>
    <script src="./gamesScript.js" type="module" defer></script>

</body>

</html>