<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Players_page</title>
</head>

<body>
    <header>
        <img src="https://commons.wikimedia.org/wiki/File:WikiProject_NBA.svg" alt="g-logo">
        <h1 id="logo-header">Show Teams</h1>
        <h2 id="log-h2">THE BEST YEAR</h2>
    </header>
    <h3 id="" new-h3>Add New Player</h3>
    <div id="player-div"></div>

    <form id="player-form">
        <h3>Add player</h3>
        <label for="player-id">Player ID</label>
        <input type="text" id="player-id">
        <button type="submit" id="add-button">Add</button>
    </form>

    <script src="./playersScript.js" type="module" defer></script>
</body>

</html>