<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trophies_page</title>
</head>

<body>
    <header>
        <img src="https://commons.wikimedia.org/wiki/File:WikiProject_NBA.svg" alt="g-logo">
        <h1 id="logo-header">Show Teams</h1>
        <h2 id="logo-h2">THE BEST YEAR</h2>
    </header>
    <h3 id="new-h3">Teams trophies</h3>
    <div id="trophie-div"></div>
    <form id="trophies-form">
        <h3>Add trophie</h3>
        <label for="title">Title</label>
        <input type="text" id="title">
        <label for="new trophie">New Trophie</label>
        <input type="number" id="new trophie">
        <button type="submit" id="add-buttton">Add</button>
    </form>
    <script src="./trophiesScript.js" type="module"></script>

</body>

</html>